<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>주소록 삭제 페이지</title>

<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.js" th:src="@{/js/popper.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

<script>
	$(document).ready(function() {
		$("#btnCancel").on("click", function() {
			window.history.back();
		});
	});
</script>
</head>
<body>
	<header>
		<div class="container">
			<div class="jumbotron">
				<h1>주소록 삭제 페이지</h1>
			</div>
		</div>
	</header>
	<main class="container">
		<section class="row">
			<article class="col-sm-8 mx-auto">
				<form action="/addr/deleteAddress.do" method="POST">
					
					<div class="form-group">
						<label>아래의 정보를 삭제하시겠습니까?</label>
						<input class="form-control" type="text" th:value="${addr.name}" readonly>
					</div>
					<input type="hidden" name="num" th:value="${addr.num}">
					<div class="d-flex justify-content-center">
						<button type="submit" class="btn btn-danger mr-2">삭제</button>
						<button type="button" class="btn btn-secondary" id="btnCancel">취소</button>
					</div>
				</form>
			</article>
		</section>
	</main>
</body>
</html>





